* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: var(--text-secondary-color);
  z-index: 1000;
}

/* navbar.css */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--background-color);
  padding: var(--spacing-2xl) 0;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  z-index: 1500;

}

.navbar-brand a {
  color: var(--text-color);
  text-decoration: none;
  font-size: var(--font-size-lg);
  font-weight: 700;
}

.navbar-brand img {
  max-height: 40px;
  /* Limit the height of the logo */
  width: auto;
  /* Adjust width automatically to maintain aspect ratio */
  display: block;
  /* Ensures the image is in block format */
}

.navbar-toggler {
  display: block;
  /*Hidden by default, shown in mobile view*/
  background: none;
  border: none;
  color: var(--text-color);
  font-size: var(--font-size-lg);
  padding: 0 var(--spacing-md);
  z-index: 1500;
}

.navbar-collapse {
  display: flex;
  flex-direction: column;
  /* Stacks items vertically on smaller screens */
  gap: 2rem;
  list-style: none;
  z-index: 1450;

  right: -100%;
  /* Hidden in mobile view */
  position: fixed;
  transition: right 0.5s ease, color 0.3s ease;
  top: 0px;
  background-color: black;
  padding: var(--spacing-2xl);
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;

}

.navbar-search input {
  margin-bottom: 0;
}

.navbar-nav {
  list-style: none;
  display: flex;
  color:var(--text-color);
  /* flex-direction: column; */
  /* Stacks items vertically on smaller screens */
  padding: 0;
  margin: 0;
  gap:var(--spacing-md);
  position: absolute;
  right: 11%;
}

.nav-item {
  padding: 0 var(--spacing-xm);
  font-size: var(--font-size-lg);
  color:var(--text-color);
}


.nav-item a {
  color: var(--text-color);
  text-decoration: none;
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  /* Smooth transition for background and text color */
}

/* .nav-item.active a {
    font-weight: bold;
  } */

.navbar .dropdown-menu {
  display: none;
  /* Hidden by default, shown on hover or click */
  position: absolute;
  background-color: var(--background-color);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  /* Subtle box shadow */

  border-radius: var(--border-radius);
  z-index: 100;
  /* Ensure it's above other content */
}

.nav-item.dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
}

.navbar-search input[type="search"] {
  padding: var(--spacing-xs) var(--spacing-md);
  border: var(--border-width) var(--border-style) var(--border-color);
  border-radius: var(--border-radius);
}

/* navbar.css */
.nav-item a:hover,
.nav-item a:focus {
  color: var(--text-hover-color);
  /* Optional: change text color on hover */
}

.navbar .dropdown {
  position: unset;
}

.navbar .dropdown-menu a:hover,
.navbar .dropdown-menu a:focus {
  background-color: var(--accent-color);
  /* Adjust the color as needed */
  color: var(--text-color);
  /* Optional: change text color on hover */
}

.navbar .btn {
  font-size: var(--font-size-sm);
  padding: var(--spacing-sm) var(--spacing-xm);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color var(--transition-default);
}

.navbar .btn-primary {
  background-color: var(--background-color);
  color: var(--text-color);
}

.navbar .btn-secondary {
  background-color: var(--text-color);
  color: var(--background-color);
}

.navbar .btn:hover {
  color: var(--text-color);
}

.navbar-nav>.navbar-toggler {
  display: block;
}

.navbar-toggler.active+.navbar-collapse {
  display: flex;
  right: 0px;
  flex-direction: column;
  align-items: flex-start;
}

.navbar-collapse li {
  width: 100%;
  text-align: center;
}

.navbar-collapse>li>a {
  color: var(--accent-color);
  font-size: var(--font-size-2xl);
  font-weight: 700;
  width: 100%;
}

.navbar-collapse .nav-item:nth-last-child(1) {
  display: none;
}


.navbar-toggler.active {
  color: var(--text-hover-color);
  position: fixed;
  width: 85%;
  text-align: end;
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
  .navbar {
    justify-content: space-between;
  }

  .navbar-nav {
    display: none;
  }

  .nav-item {
    margin: var(--spacing-xs) 0;
  }
}




.card-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  justify-content: center;
  /* Centers cards in the container */
  margin: 0 var(--spacing-lg);
  background: none;
  padding: var(--spacing-sm) var(--spacing-4xl);
  color: var(--text-color);
  font-weight: 400;
}

.card {
  text-decoration: none;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  margin-bottom: var(--spacing-md);
  display: flex;
  align-items: center;
  gap: var(--spacing-xl);
}

.card span {
  text-decoration: line-through;
}

.card button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 4rem;
  width: 100%;
  padding: var(--spacing-md) var(--spacing-lg);
  font-weight: 600;
  font-size: var(--font-size-sm);
  cursor: pointer;
  transition: all ease 0.5s;
}

.card select {
  border: none;
  border-bottom: var(--border-width) var(--border-style) var(--border-color);
  outline: none;
  padding: var(--spacing-sm);
  font-size: var(--font-size-lg);
  cursor: pointer;
}

.card-img-top {
  width: 36rem;
  height: auto;
  object-fit: cover;
}

.card-body {
  padding: var(--spacing-md);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  width: 100%;
}

.card-title {
  font-size: var(--font-size-xl);
  font-family: var(--heading-font-family);
  margin-bottom: var(--spacing-sm);
  font-weight: 700;
  color: var(--text-color);
}

.card-text {
  font-size: var(--font-size-md);
  line-height: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
  border-bottom: 0.05rem var(--border-style) var(--border-color);
}

.card-link {
  font-size: var(--font-size-xl);
  margin: var(--spacing-xs) 0;
  font-weight: 700;
  color: var(--text-color);
  text-decoration: none;
  transition: color var(--transition-default);
}

/* Footer Component */
.footer {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: var(--spacing-md) var(--spacing-4xl);
  font-family: var(--font-family);
  /* border-top: var(--border-width) var(--border-style) var(--border-color); */
  font-size: var(--font-size-md);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  place-items: initial;
  gap: var(--spacing-xm);
  z-index: 1400;
}

.footer__section {
  margin-bottom: var(--spacing-lg);
  display: flex;
  flex-direction: column;
}

.footer__logo img {
  display: block;
  margin: 0 auto var(--spacing-md);
  max-height: 50px;
}

.footer__navigation,
.footer__social-media,
.footer__legal,
.footer__contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-md);
}

.footer__navigation li,
.footer__social-media li,
.footer__legal li {
  margin: var(--spacing-xs) var(--spacing-sm);
}

.footer__navigation a,
.footer__social-media a,
.footer__legal a,
.footer__contact-info a {
  color: #605656;
  text-decoration: none;
  transition: color var(--transition-default);
}

.footer__navigation a:hover,
.footer__social-media a:hover,
.footer__legal a:hover {
  transform: translateX(1rem);
}

.footer__credits {
  font-size: var(--font-size-sm);
  color: var(--text-secondary-color);
}

.footer__social-media {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: var(--spacing-md);
}

.footer__social-media li {
  display: inline;
}

.footer__social-media a {
  display: inline-block;
  margin: 0 var(--spacing-xs);
  font-size: var(--font-size-lg);
  /* Adjust the size as needed */
  color: var(--text-color);
  /* Icon color */
}

.footer__social-media a:hover,
.footer__social-media a:focus {
  transform: translateX(1rem);
  transition: all ease 0.3s;
  /* Icon hover color */
}

footer section img {
  width: 11rem;
  object-fit: fill;
}


.footer h3 {
  color: var(--text-color);
  font-weight: 600;
  padding: var(--spacing-2xl) var(--spacing-sm);
  margin: var(--spacing-xm) var(--spacing-sm);
}

.footer span,
.footer pre {
  text-decoration: underline;
  font-weight: 600;
  ;
  color: var(--text-color)
}

.footer input {
  background-color: transparent;
  border: none;
  border-bottom: var(--border-width) var(--border-style) var(--border-color);
  outline: none;
  padding: var(--spacing-md) var(--spacing-lg);
}

.footer button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 4rem;
  max-width: fit-content;
  padding: var(--spacing-md) var(--spacing-lg);
  font-weight: 600;
  font-size: var(--font-size-sm);
  cursor: pointer;
  transition: all ease 0.5s;
}

.footer button:hover {
  transform: translateY(-0.3rem);
}

.footer~section {
  border-top: var(--border-width) var(--border-style) var(--border-color);
  padding: var(--spacing-xm) 0;
  display: flex;
  justify-content: space-between;
  margin: 0 var(--spacing-2xl);

}

@media screen and (max-width:1400px) {

  .card-img-top {
    width: 30rem
  }

  .card {
    gap: 1rem
  }

  .footer {
    padding: 0 var(--spacing-md);
  }
}

@media screen and (max-width:1200px) {
  .card-container {
    padding: var(--spacing-lg) var(--spacing-l);
  }
}

@media screen and (max-width:992px) {
  .card {
    flex-direction: column;
    width: 33rem;
    margin: auto;
  }

  .card-img-top {
    width: 100%
  }

  .card-container {
    gap: var(--spacing-3xl);
  }

  .card-body {
    padding: var(--spacing-md) 0;
  }

  .footer {
    grid-template-columns: auto auto auto auto;
    padding: 0 var(--spacing-2xl);
  }

  .footer__section:nth-last-child(1) {
    grid-column: 1 / span 2;
  }

  .footer~section {
    margin: 0 var(--spacing-sm);
  }

  .card-link {
    font-size: var(--font-size-lg);
  }
}

@media screen and (max-width:786px) {
  .footer {
    grid-template-columns: 2fr 1fr;
    padding: var(--spacing-sm) var(--spacing-3xl) var(--spacing-5xl) var(--spacing-3xl);
    position: relative;
  }

  .card .card-text {
    font-size: 18px;
  }

  .card-container {
    padding: var(--spacing-2xl) 0 0 0;
  }

  .footer~section {
    flex-direction: column;
    gap: 2rem;
    padding: var(--spacing-lg) var(--spacing-md);
    margin: 0;
    align-items: center;
    text-align: center;
  }

  .card {
    flex-direction: column;
    width: 28rem;
    margin: auto;
  }

  .footer__navigation {
    gap: var(--spacing-md)
  }

  .footer__navigation li{
    padding: 0 var(--spacing-sm)
  }

  .footer__section:nth-last-child(1),
  .footer__section:nth-last-child(1) .footer__navigation {
    position: absolute;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* gap:1rem; */
  }

  .footer__section:nth-last-child(1) h3 {
    position: absolute;
    top: -15rem
  }

}

@media screen and (max-width:576px) {
  .card {
    flex-direction: column;
    width: 90%;
    margin: auto;
  }

  .footer {
    grid-template-columns: 1fr 2fr;
    padding: var(--spacing-sm) var(--spacing-sm) var(--spacing-5xl) var(--spacing-sm);
  }

  .footer button {
    max-width: initial;
    width: 90%;
    margin: auto;
  }
}

/* Hero Component Styles */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  /* text-align: center; */
  position: relative;
  width:100%;
}

.hero__content{
  width:100%
}

.hero__title {
  font-family: var(--heading-font-family);
  font-size:1.3rem;
  color:var(--text-color);
  margin-bottom: var(--spacing-xs);
  font-weight: 700;
}

.hero__subtitle {
  font-family: var(--font-family);
  font-size:1.3rem;
  color:var(--text-color);
  margin-bottom: var(--spacing-sm);
  /* text-align: center; */
  width:100%
}

.hero h1{
  color:var(--text-color);
  font-size: var(--font-size-2xl);
  padding: var(--spacing-xl);
  text-align: center;
}

.hero pre{
  text-align: center;
  font-size:1.3rem;
  color:var(--text-color);
}

.hero__cta-button {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  padding: var(--spacing-sm) var(--spacing-lg);
  background-color: var(--accent-color);
  color: var(--text-color);
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  transition: var(--transition-default);
}

.hero__cta-button:hover {
  background-color: var(--accent-color);
  box-shadow: var(--box-shadow-hover);
}

/* Responsive Styles */

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-sm);
    text-align: left;
  }
  .hero p{
    font-size:1.2rem;
    color:var(--text-color);
    text-align: center;
  }
  
  .hero h1{
    font-size: var(--font-size-xl);
    text-align: center;
  }

}



/* Tabs container */
.tabs {
  display: flex;
  justify-content: space-around;
  margin: var(--spacing-md) auto;
  width: 50%;
  border-bottom: var(--border-width) var(--border-style) var(--border-color);
}

/* Individual tab */
.tab {
  padding: var(--spacing-md);
  color: var(--text-color);
  font-weight: 700;
  font-size: 1.6rem;
  cursor: pointer;
  /* border-bottom: var(--border-width) var(--border-style) var(--border-color); */
  transition: background-color var(--transition-default);
}

/* Tab content */
.tab-content {
  display: none;
  padding: var(--spacing-3xl) var(--spacing-lg);
  margin: 0 auto;
  max-width: 60%;
  /* border: var(--border-width) var(--border-style) var(--border-color); */
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  flex-direction: column;
  gap: var(--spacing-lg);
  font-size: var(--font-size-lg);
}

.tab-content h2 {
  font-size: 2.8rem;
  color: var(--text-color);
  font-weight: 700;
}

.tab-content span {
  font-weight: 700;
  color: var(--text-color)
}

/* Active tab style */
.tab.active {
  border-bottom: var(--border-width) var(--border-style) var(--text-color);
}

.tab-content.active{
  display: flex;
}

/* Responsive design - Mobile view */
@media screen and (max-width: 1400px) {
  .tabs {
    width: 60%;
  }
}

@media screen and (max-width: 992px) {
  .tabs {
    width: 90%;
  }
}

@media screen and (max-width: 786px) {
  .tab-content {
    max-width: 70%;
    padding: var(--spacing-xl) var(--spacing-lg);
  }
  .tab-content h2 {
    font-size: 1.8rem;
  }
  .tab{
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 576px) {
  .tab-content {
    max-width: 90%;
  }

  .tabs {
    flex-direction: column;
    text-align: center;
  }

  .navbar-collapse>li>a {
    color: var(--accent-color);
    font-size: var(--font-size-xl);
  }
}

.carousel {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
}

.carousel-inner {
  display: flex;
  transition: transform var(--transition-default);
}

.carousel-item {
  flex: 0 0 100%;
  box-sizing: border-box;
}

.carousel img {
  width: 100%;
  height: auto;
}