body {
    background-color: var(--background-color);
    max-height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
    /* font-weight: 400; */
}

a {
    text-decoration: none;
}

.head>div:nth-child(1) {
    width: 55%
}

.head>div:nth-child(2) {
    width: 45%;
    padding: var(--spacing-3xl) var(--spacing-2xl);
}

.head {
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
    gap: var(--spacing-3xl);
    padding: var(--spacing-2xl) var(--spacing-4xl);
}


.head h1,
.head h2 {
    font-size: var(--font-size-2xl);
    color: var(--text-color);
    font-weight: 600;
    padding: var(--spacing-xl) 0;
}

.head h2 {
    font-size: var(--font-size-xl);
}

.head p {
    font-size: 22px;
    line-height: var(--spacing-2xl);
}

.portfolio.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.portfolio.card-container .card-img-top {
    width: 39rem
}

.portfolio.card-container .card {
    flex-direction: column;
}

.portfolio.card-container .card-title {
    font-size: 2.5rem;
}

.portfolio.card-container .card-text {
    border-bottom: none;
    font-size: 1.5rem;
}

.portfolio.card-container .card:nth-child(2),
.portfolio.card-container .card:nth-child(4) {
    transform: translateY(6rem);
}

.portfolio+.head {
    align-items: self-start;
}

.portfolio+.head>div:nth-child(1) {
    width: 30%
}

.portfolio+.head>div:nth-child(2) {
    width: 80%
}

.faq.card-container {
    margin: auto;

}

.faq.card-container .card {
    gap: 4.5rem
}

.faq.card-container .card-title {
    font-size: 1.4rem;
}

.heading {
    width: 85%;
    margin: var(--spacing-2xl) auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl)
}

.heading h1 {
    font-size: 90px;
}

.heading p {
    font-size: 25px;
    color: var(--text-color)
}

.btn {
    background-color: var(--text-color);
    color: var(--background-color);
    padding: var(--spacing-xl) var(--spacing-2xl);
    text-align: center;
    border-radius: var(--spacing-2xl);
    width: max-content;
    font-weight: 700;
    cursor: pointer;
}

.btn-secondary {
    background-color: var(--background-color);
    color: var(--text-color);
    border: var(--border-width) var(--border-style) var(--text-color);
    padding: var(--spacing-xl) var(--spacing-lg);
    text-align: center;
    border-radius: var(--spacing-2xl);
    width: max-content;
    font-weight: 700;
    cursor: pointer;
}

.btn-cnt {
    display: flex;
    gap: var(--spacing-lg);
    justify-content: center;
    margin: var(--spacing-xl) 0;
}

.prev-btn,
.next-btn {
    font-size: var(--font-size-xl);
    border-radius: 50%;
    padding: 1.2rem 1.5rem;
}

i {
    color: var(--background-color)
}


.carousel .card {
    flex-direction: column;
}

.imgs~.head div:nth-child(1) {
    width: 64%
}

.imgs+.head div:nth-child(2) {
    text-align: end;
}

.carousel .card-img-top {
    width: 25rem;
}

.carousel .card {
    width: max-content;
    margin: auto;
}

.imgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 90%;
    margin: var(--spacing-3xl) auto;
    gap: var(--spacing-lg);
}

.imgs1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.home.card-container h1 {
    width: 60%;
    font-size: var(--font-size-2xl);
}

.home.card-container .card {
    border-bottom: var(--border-width) var(--border-style) var(--border-color)
}

.home.card-container .card-text {
    border-bottom: none
}

.imgs~.hero {
    margin: var(--spacing-3xl);
}

.last.hero {
    background-color: black;
    padding: var(--spacing-3xl) 0;
}

.last.hero pre,
.last.hero h1 {
    color: white;
}

.last.hero .btn,
.last.hero i {
    color: black;
    background-color: white;
}

@media screen and (max-width:1400px) {
    .main {
        padding: var(--spacing-3xl) var(--spacing-md);
    }

    .head {
        gap: 1rem;
        padding: 0 var(--spacing-md);
    }

}

@media screen and (max-width:1200px) {

    .portfolio+.head {
        flex-direction: column;
    }

    .faq.card-container {
        padding: var(--spacing-sm);
    }
}

@media screen and (max-width:992px) {
    .head {
        flex-direction: column;
        align-items: start;
        padding: 0 var(--spacing-2xl);
    }
    .imgs{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .imgs1 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .imgs img{
        width:9rem;
        margin: auto;
    }

    .head>div:nth-child(1),
    .head>div:nth-child(2) {
        width: 100%;
        padding: var(--spacing-xs);
    }

    .portfolio.card-container {
        grid-template-columns: 1fr;
        gap: 1fr
    }

    .portfolio.card-container .card:nth-child(2),
    .portfolio.card-container .card:nth-child(4) {
        transform: translateY(0);
    }

    .portfolio.card-container .card-img-top {
        width: 29rem
    }

    .faq.card-container {
        gap: 1rem
    }

    .faq.card-container .card {
        flex-direction: row;
    }

    .portfolio+.head>div:nth-child(1) {
        width: 100%
    }
   
    
    .heading h1 {
        font-size: 50px;
    }
    .carousel .card {
        margin: var(--spacing-lg) auto;
        overflow: hidden;
        width:80%
    }
    .carousel .card .card-img-top{
        width:17rem
    }
   
}

@media screen and (max-width:786px) {
    .faq.card-container .card {
        flex-direction: column;
    }

    .faq.card-container .card-body {
        width: 100%;
    }

    .faq.card-container .card {
        gap: .5rem;
        width: 100%;
    }

    .faq.card-container .card-title {
        font-size: 1.4rem;
    }

    .faq.card-container .card-text {
        font-size: 1rem;
    }

    .portfolio.card-container .card-img-top {
        width: 20rem
    }

    /* .portfolio.card-container p{
        font-size:20rem
    } */
    .home.card-container .card {
        align-items: flex-start;
    }

    .imgs~.head div:nth-child(1) {
        width: 100%
    }

    .imgs+.head div:nth-child(2) {
        text-align: end;
    }
    .btn-cnt{
        flex-direction: column;
    }
    .btn-cnt .btn,.btn-secondary{
        width: 100%;
    }
    h3{
        margin: var(--spacing-lg) 0;
    }

    .imgs{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .imgs .imgsn{
        display: none;
    }
    
    .heading h1 {
        font-size: 30px;
    }
    
    
}

@media screen and (max-width:576px) {
    .head h1 {
        font-size: var(--font-size-xl);
        padding: var(--spacing-sm) 0;
    }
    
    .head p {
        line-height: var(--spacing-lg);
    }
    
    .main {
        padding: var(--spacing-lg) 0;
    }
    
    .portfolio+.head {
        padding: var(--spacing-md);
        align-items: center;
    }
    
    .faq.card-container {
        margin: 0;
    }
    
    .faq.card-container .card {
        justify-content: center;
        width: 100%;
    }
    
    .imgs{
        grid-template-columns: 1fr 1fr;
        gap:0.5rem;
        margin:var(--spacing-2xl) auto
    }
    
    .imgs1{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .imgs img{
        width:6.5rem;
        margin: auto;
    }
    .heading {
       align-items: center;
    }

    .heading p {
        font-size: 15px;
        color: var(--text-color)
    }
    .last.hero {
       margin: 0;
       padding: var(--spacing-lg);
    }
}