/* Pari.css Theme Colors */
:root {
    --pari-pink: #ffc0cb; /* Adjust the color code to match the exact pink hue from the banner */
    --pari-blue: #add8e6; /* Adjust the color code to match the exact blue hue from the banner */
    --pari-dark: #444; /* A dark color for text or accents */
    --pari-light: #f8f8f8; /* A light background color */
    --primary-color: #ffffff; /* Main brand color */
    --secondary-color: var(--pari-blue); /* Secondary color for contrast */
    --tertiary-color: var(--pari-dark);
    --accent-color: #F7EBE1; /* Accent color for highlighting elements */
    --background-color: #F9F4F0; /* Default background color */
    --text-color: #100A0A; /* Primary text color */
    --text-secondary-color: #877E7E; /* Secondary text color */
    --text-hover-color:#BDB8B8;
    --border-color: rgb(192, 182, 182);/* Default color for borders */;
    
  
    /* Other properties remain the same as the default theme */
  
    /* Typography */
    --font-family: 'Inter', sans-serif; /* Primary font family */
    --font-size-root: 16px; /* Root font size (for rem calculations) */
    --font-size-base: 1rem; /* Base font size for regular text */
    --font-size-xs: 0.75rem; /* Small font size for less important text */
    --font-size-sm: 0.875rem; /* Small font size for less important text */
    --font-size-md: 1.1rem; /* Medium font size for in-between elements */
    --font-size-lg: 1.125rem; /* Large font size for headings */
    --font-size-xlg: 1.75rem;
    --font-size-xl: 2rem;
    --font-size-xxl:3rem; /* Extra-large font size for major headings */
    --font-size-2xl: 4rem; /* Double extra-large font size */
    --font-size-3xl: 7rem; /* Triple extra-large font size */
    --font-size-4xl: 12rem; /* Quadruple extra-large font size */
    --font-size-5xl: 21rem; /* Quintuple extra-large font size */
    --heading-font-family: 'Inter', sans-serif; /* Font family for headings */
  
    /* Spacing */
    --spacing-xs: 0.25rem; /* Extra small spacing */
    --spacing-sm: 0.5rem; /* Small spacing */
    --spacing-xm: 0.75rem;
    --spacing-md: 1rem; /* Medium spacing (default for margins and paddings) */
    --spacing-lg: 1.5rem; /* Large spacing */
    --spacing-xl: 2rem; /* Extra large spacing */
    --spacing-2xl: 3rem; /* Extra extra large spacing */
    --spacing-3xl: 5rem;
    --spacing-4xl: 7.5rem;
    --spacing-5xl: 14rem;
  
    /* Borders and Radius */
    --border-width: 1px; /* Default border width */
    --outline-width:8px;
    --border-style: solid; /* Default border style */
    --border-radius: 0.25rem; /* Default border radius for rounded corners */
    --border-radius-lg: 1rem; /* Larger border radius for elements like buttons, inputs */
    --border-radius-xl: 1.2rem;
  
    /* Box Shadows */
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Default box shadow */
    --box-shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow for hover states */
    --box-shadow-form: 0 2px 4px rgba(0, 0, 0, 0.5);
  
    /* Transitions */
    --transition-default: all 0.3s ease; /* Default transition for hover effects and similar */
  
    /* Z-index */
    --zindex-dropdown: 1000; /* Z-index for dropdown menus */
    --zindex-sticky: 1020; /* Z-index for sticky elements */
    --zindex-fixed: 1030; /* Z-index for fixed elements */
    --zindex-modal-backdrop: 1040; /* Z-index for modal backdrops */
    --zindex-modal: 1050; /* Z-index for modals */
    --zindex-popover: 1060; /* Z-index for popovers */
    --zindex-tooltip: 1070; /* Z-index for tooltips */
  
    /* Responsive Breakpoints */
    --breakpoint-xs: 0; /* Extra small devices (portrait phones) */
    --breakpoint-sm: 576px; /* Small devices (landscape phones) */
    --breakpoint-md: 768px; /* Medium devices (tablets) */
    --breakpoint-lg: 992px; /* Large devices (desktops) */
    --breakpoint-xl: 1200px; /* Extra large devices (large desktops) */
  }
  